h3 Hi Reviewer,
h3 There is a new request for Keycloak Realm #{realmName} with #[b BCeID] identity provider.
p You can view the request details #[a(href=realmOMaticLink) here].
|
|
p Please contact Devhub team if you have any problems or issues.
|
p Realm-o-Matic
