html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include ../email.css
    title Realm-o-Matic Email Notification
  body
    table.body-wrap
      tbody
        tr
          td.container
            .content
              table.main
                tbody
                  tr
                    td.header KeyCloak Realm Request in Progress
                  tr
                    td.content-wrap
                      table.message-content
                        tbody
                          tr
                            td Hi #{name},
                          tr
                            td Your request for Keycloak realms are in progress.
                          tr
                            td You can view the request details in
                          tr
                            td.aligncenter
                              a.btn-primary(href=realmOMaticLink) Realm-o-Matic
                          tr
                            td
                              | #[b If you are requesting for BCeID to be integrated], please pay attention here:
                              |
                              | BCeID identity provider will not be enabled in the production realm for you until the IDIM team has given the approval. To speed up the process, initiate a conversation with #[b the IDIM team] at idim.consulting@gov.bc.ca on the details about BCeID usage ASAP!
                          tr
                            td
                              | Please visit 
                              a(href='https://chat.developer.gov.bc.ca/channel/realm-o-matic') RocketChat 
                              | if you have any problems or issues.
              .footer
                table.aligncenter
                  tbody
                    tr
                      td DevHub
