h3 Hi #{name},
|
h3 Keycloak realms #{realmName} are not created.
p You can view the request details #[a(href=realmOMaticLink) here].
|
|
p Please contact Devhub team if you have any problems or issues.
|
p Realm-o-Matic
