html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include ../../email.css
    title Realm-o-Matic Email Notification
  body
    table.body-wrap
      tbody
        tr
          td.container
            .content
              table.main
                tbody
                  tr
                    td.header BCeID Enabled for Production KeyCloak Realm
                  tr
                    td.content-wrap
                      table.message-content
                        tbody
                          tr
                            td Hi #{name},
                          tr
                            td As you have requested BCeID integration with Keycloak Realm #{realmName}, the IDIM team has reviewed your application and approved on the usage.
                            td As a result, BCeID identity provider has been enabled in your production realm.
                          tr
                            td You can view the request details in
                          tr
                            td.aligncenter
                              a.btn-primary(href=realmOMaticLink) Realm-o-Matic
                          tr
                            td
                              | Please visit 
                              a(href='https://chat.pathfinder.gov.bc.ca/channel/realm-o-matic') RocketChat 
                              | if you have any problems or issues.
              .footer
                table.aligncenter
                  tbody
                    tr
                      td DevHub
